USE [AccountingDB01]
GO
/****** Object:  StoredProcedure [AccountingReport].[spGetDailyCompareOnlineAgencyReportOffset]    Script Date: 14/01/2569 16:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =========================================================
-- Author: ITAS.Umaporn
-- Created date: 2024-09-11
-- Updated date: 2024-10-24
-- Description:	Get daily compare between EasyBuy and Agency
-- =========================================================
ALTER            PROCEDURE [AccountingReport].[spGetDailyCompareOnlineAgencyReportOffset]
	@DateFrom AS VARCHAR(10),
	@DateTo AS VARCHAR(10),
	@BankCode AS VARCHAR(10),
	@ReportType AS VARCHAR(1),
	@DataType AS VARCHAR(1),
	@OS AS VARCHAR(10),
	@RequestType AS VARCHAR(10)
AS

Declare @Offset Integer;
Declare @TotalRows Integer;
set @Offset = CAST(@OS AS INT);

BEGIN
	IF (@BankCode = 'CS')
	BEGIN
		IF (@DataType = 'E')
		BEGIN
				IF OBJECT_ID('tempdb..#TempCompareOnlineCSE') IS NOT NULL DROP TABLE #TempCompareOnlineCSE;
				select * 
				INTO #TempCompareOnlineCSE
				from (SELECT
				FORMAT(CAST(CAST(R2BKDT AS varchar) AS date), 'dd/MM/yyyy') AS PaidDate_E,  
				CAST(SUBSTRING(RIGHT('000000' + CAST(R2BKTM AS VARCHAR(6)), 6), 1, 2) AS VARCHAR(2)) + ':' +
				CAST(SUBSTRING(RIGHT('000000' + CAST(R2BKTM AS VARCHAR(6)), 6), 3, 2) AS VARCHAR(2)) + ':' +
				CAST(SUBSTRING(RIGHT('000000' + CAST(R2BKTM AS VARCHAR(6)), 6), 5, 2) AS VARCHAR(2)) AS Time_E,
				CAST(R2CUST AS varchar) AS CustomerNo_E,          
				CAST(R2CONT AS varchar) AS ContractNo_E,         
				'CS' AS Bank_E,        
				R2RCAM AS Amount_E,    
				CASE 
					WHEN (ISNULL(R4REF2, '') <> CAST(R2CONT AS varchar) AND R2SWIT = 'Y') THEN 'UPG-INC' 
					WHEN R4SDTE IS NULL AND R2BKDT IS NOT NULL THEN 'INCOMP'
					WHEN R4SDTE IS NULL AND R2TYRC IN ('UK','ER') THEN 'INCOMP'
					ELSE ''
					--WHEN (ISNULL(R3REF2, '') <> CAST(R2CONT AS varchar) AND R2SWIT = 'Y') THEN 'UPG-INC' 
					--WHEN (ISNULL(R3REF2, '') <> CAST(R2CONT AS varchar) AND R2SWIT <> 'Y') THEN 'INCOMP'
					--ELSE ''
				END AS Status_E,
				FORMAT(CAST(CAST(R4SDTE AS varchar) AS date), 'dd/MM/yyyy') AS PaidDate_A,   
				CAST(SUBSTRING(RIGHT('000000' + CAST(R4SDTM AS VARCHAR(6)), 6), 1, 2) AS VARCHAR(2)) + ':' +
				CAST(SUBSTRING(RIGHT('000000' + CAST(R4SDTM AS VARCHAR(6)), 6), 3, 2) AS VARCHAR(2)) + ':' +
				CAST(SUBSTRING(RIGHT('000000' + CAST(R4SDTM AS VARCHAR(6)), 6), 5, 2) AS VARCHAR(2)) AS Time_A,     
				R4REF1 AS CustomerNo_A,          
				R4REF2 AS ContractNo_A,         
				CASE WHEN R4SDTE IS NULL THEN '' ELSE 'CS' END AS Bank_A,        
				R4RCAM AS Amount_A,    
				CASE 
					WHEN (ISNULL(R4REF2, '') = ISNULL(CAST(R2CONT AS varchar), '') AND R2SWIT <> 'Y' AND (R2RCAM <> R4RCAM OR 
						CASE 
							WHEN R2RBUS = 'HP' THEN
								CASE WHEN R2TYRC = 'UK' THEN
									CASE WHEN R2CONT = 0 THEN R2REF2 
									ELSE CAST(R2BRAN AS varchar) + CAST(R2CONT AS varchar) END
								ELSE CAST(R2BRAN AS varchar) + CAST(R2CONT AS varchar) END
							ELSE 
								CASE WHEN R2CONT = 0 THEN 
									CASE WHEN ISNULL(R2REF2, '') <> '' THEN R2REF2
									ELSE R2REF1 END
								ELSE CAST(R2RCON AS varchar) END
						END <> R4REF2)) THEN 'ERROR' 
						--WHEN R4SDTE IS NULL THEN 'INCOMP'
					ELSE ''
				END AS Status_A,
				ABS(DATEDIFF(SECOND, 
				CONVERT(TIME, STUFF(STUFF(RIGHT('000000' + CONVERT(nvarchar, MR02.R2BKTM), 6), 3, 0, ':'), 6, 0, ':')), 
				CONVERT(TIME, STUFF(STUFF(RIGHT('000000' + CONVERT(nvarchar, MR04.R4SDTM), 6), 3, 0, ':'), 6, 0, ':'))
				)) AS time_diff
				from (
					SELECT R2BKDT,R2BKTM,R2CUST,R2CONT,R2RCAM,R2RBUS,R2TYRC,R2REF2,R2BRAN,R2SWIT,R2REF1,R2RCON,R2TAXI,R2TRTY,R2DEL,R2CNTR,R2TMNO,R2SRNO,R2CSRN,R2TXID
					FROM AS400DB01.CSOD0001.CSMR02 WITH (NOLOCK)
					WHERE R2BKDT BETWEEN 
					CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateFrom, 120)), 111),'/','') AS NUMERIC(8,0)) AND
					CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateTo, 120)), 111),'/','') AS NUMERIC(8,0))
					-- Start Feed Back 26/09/2568
					AND R2DCNO <> ''
					-- End Feed Back 26/09/2568					
					-- AND R2TYRC NOT IN ('UK','ER')
				) as MR02 
				left join (
					SELECT R4SDTE,R4SDTM,R4REF1,R4REF2,R4TRTY,R4TAXI,R4SRNO,R4CSRN,R4TMNO,R4RCAM,R4TXID
					FROM AS400DB01.CSOD0001.CSMR04 WITH (NOLOCK) 
					WHERE R4SDTE BETWEEN 
					CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateFrom, 120)), 111),'/','') AS NUMERIC(8,0)) AND
					CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateTo, 120)), 111),'/','') AS NUMERIC(8,0))
				) as MR04  on MR02.R2TXID = MR04.R4TXID
				UNION ALL 
				select 
				'' as PaidDate_E ,
				'' as Time_E,
				'' AS CustomerNo_E,          
				'' AS ContractNo_E,         
				'' AS Bank_E,        
				NULL AS Amount_E,    
				'' AS Status_E,
				FORMAT(CAST(CAST(R4SDTE AS varchar) AS date), 'dd/MM/yyyy') AS PaidDate_A,   
				CAST(SUBSTRING(RIGHT('000000' + CAST(R4SDTM AS VARCHAR(6)), 6), 1, 2) AS VARCHAR(2)) + ':' +
				CAST(SUBSTRING(RIGHT('000000' + CAST(R4SDTM AS VARCHAR(6)), 6), 3, 2) AS VARCHAR(2)) + ':' +
				CAST(SUBSTRING(RIGHT('000000' + CAST(R4SDTM AS VARCHAR(6)), 6), 5, 2) AS VARCHAR(2)) AS Time_A,     
				R4REF1 AS CustomerNo_A,          
				R4REF2 AS ContractNo_A,         
				CASE WHEN R4SDTE IS NULL THEN '' ELSE 'CS' END AS Bank_A,        
				R4RCAM AS Amount_A,    
				'INCOMP' AS Status_A,
				NULL AS time_diff
				FROM AS400DB01.CSOD0001.CSMR04 with (nolock) where (R4TXID = '' OR R4TXID IS NULL  OR R4TXID not in (select R2TXID from AS400DB01.CSOD0001.CSMR02 WITH (NOLOCK)
				WHERE R2BKDT BETWEEN 
				CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateFrom, 120)), 111),'/','') AS NUMERIC(8,0)) AND
				CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateTo, 120)), 111),'/','') AS NUMERIC(8,0))
				-- Start Feed Back 26/09/2568
				 AND R2DCNO <> '')) and R4SDTE BETWEEN 
					CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateFrom, 120)), 111),'/','') AS NUMERIC(8,0)) AND
					CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateTo, 120)), 111),'/','') AS NUMERIC(8,0))) A
				--WHERE ( (@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
				--OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
				--OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )
				--ORDER BY CASE WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A <> '' and PaidDate_A IS NOT NULL) THEN 1 
				--			  WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A = '' or PaidDate_A IS NULL) THEN 2	
				--			  ELSE 3 END,PaidDate_E, Time_E, CASE WHEN PaidDate_A = ''  or PaidDate_A IS NULL THEN 2 ELSE 1 END,PaidDate_A, Time_A  

				IF (@RequestType = 'S')
				BEGIN
					select @TotalRows = COUNT(*) from #TempCompareOnlineCSE WHERE ( (@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )

					IF @TotalRows = 0
						SET @Offset = 0;
					ELSE
					-- หากจำนวนแถวเป็นจำนวนเต็มที่หาร 10 ลงตัว เราอาจต้องการ offset = n - 10 เพื่อให้มีหน้าล่าสุด 10 แถว
						SET @Offset = CASE
									WHEN (@TotalRows % 10) = 0 THEN @TotalRows - 10
									ELSE @TotalRows - (@TotalRows % 10)
					END;
					IF OBJECT_ID('tempdb..#TmpDetailCSE2') IS NOT NULL DROP TABLE #TmpDetailCSE2
					IF OBJECT_ID('tempdb..#TmpDetailCSE3') IS NOT NULL DROP TABLE #TmpDetailCSE3

					IF OBJECT_ID('tempdb..#TmpDetailCSE') IS NOT NULL DROP TABLE #TmpDetailCSE
					select * 
					Into #TmpDetailCSE
					from #TempCompareOnlineCSE 
					WHERE ( (@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )
					ORDER BY CASE WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A <> '' and PaidDate_A IS NOT NULL) THEN 1 
									  WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A = '' or PaidDate_A IS NULL) THEN 2	
									  ELSE 3 END,PaidDate_E, Time_E, CASE WHEN PaidDate_A = ''  or PaidDate_A IS NULL THEN 2 ELSE 1 END,PaidDate_A, Time_A  
					OFFSET @Offset ROWS FETCH NEXT 10 ROWS ONLY;

					select 'GrandTotal' as PaidDate_E,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_E IS NULL OR Status_E = '') AND (PaidDate_E IS NOT NULL AND PaidDate_E <> '') THEN Amount_E ELSE 0 END)) as Time_E,CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_E IS NULL OR Status_E = '') AND (PaidDate_E IS NOT NULL AND PaidDate_E <> '') THEN 1 END)) AS CustomerNo_E,
					CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_E = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_E,'' as Bank_E,
					SUM(CASE WHEN Status_E = 'INCOMP' THEN Amount_E ELSE 0 END) AS Amount_E,'Sum' as Status_E,
					'GrandTotal' as PaidDate_A ,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_A IS NULL OR Status_A = '') AND (PaidDate_A IS NOT NULL AND PaidDate_A <> '') THEN Amount_A ELSE 0 END)) AS Time_A,CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_A IS NULL OR Status_A = '') AND (PaidDate_A IS NOT NULL AND PaidDate_A <> '') THEN 1 END)) AS CustomerNo_A
					,CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_A = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_A,'' as Bank_A,
					SUM(CASE WHEN Status_A = 'INCOMP' THEN Amount_A ELSE 0 END) AS Amount_A,'Sum' as Status_A , @TotalRows as time_diff
					Into #TmpDetailCSE2
					from #TempCompareOnlineCSE
					WHERE ( (@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )

					IF OBJECT_ID('tempdb..#TempCompareOnlineCSE1') IS NOT NULL DROP TABLE #TempCompareOnlineCSE1;
					select PaidDate_E,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_E IS NULL OR Status_E = '') THEN Amount_E ELSE 0 END)) as Time_E,
					CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_E IS NULL OR Status_E = '') THEN 1 END)) AS CustomerNo_E,
					CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_E = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_E,'' as Bank_E,
					SUM(CASE WHEN Status_E = 'INCOMP' THEN Amount_E ELSE 0 END) AS Amount_E,'Sum' as Status_E
					into #TempCompareOnlineCSE1
					from #TempCompareOnlineCSE 
					WHERE ( (@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) ) AND (PaidDate_E is not null and PaidDate_E != '') Group By PaidDate_E
					select *
					Into #TmpDetailCSE3
					from #TempCompareOnlineCSE1
					FULL OUTER JOIN (select PaidDate_A,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_A IS NULL OR Status_A = '') THEN Amount_A ELSE 0 END)) AS Time_A,CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_A IS NULL OR Status_A = '')  THEN 1 END)) AS CustomerNo_A
					,CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_A = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_A,'' as Bank_A
					,SUM(CASE WHEN Status_A = 'INCOMP' THEN Amount_A ELSE 0 END) AS Amount_A,'Sum' as Status_A , null as time_diff
					from #TempCompareOnlineCSE 
					WHERE ( (@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) ) AND (PaidDate_A is not null and PaidDate_A != '') Group By PaidDate_A) c on  PaidDate_E = PaidDate_A

					select * from #TmpDetailCSE 
					union all 
					select * from #TmpDetailCSE2
					union all 
					select * from #TmpDetailCSE3
				END
				ELSE
				BEGIN
					select * 
					from #TempCompareOnlineCSE 
					WHERE ( (@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )
					--ORDER BY CASE WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A <> '' and PaidDate_A IS NOT NULL) THEN 1 
					--				  WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A = '' or PaidDate_A IS NULL) THEN 2	
					--				  ELSE 3 END,PaidDate_E, Time_E, CASE WHEN PaidDate_A = ''  or PaidDate_A IS NULL THEN 2 ELSE 1 END,PaidDate_A, Time_A  
					ORDER BY CASE WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A <> '' and PaidDate_A IS NOT NULL) THEN 1 
									  WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A = '' or PaidDate_A IS NULL) THEN 2	
									  ELSE 3 END,PaidDate_E, Time_E, CASE WHEN PaidDate_A = ''  or PaidDate_A IS NULL THEN 2 ELSE 1 END,PaidDate_A, Time_A  
					OFFSET @Offset ROWS FETCH NEXT 10 ROWS ONLY;
				END
		END
		ELSE
		BEGIN
			IF OBJECT_ID('tempdb..#TempCompareOnlineCS') IS NOT NULL DROP TABLE #TempCompareOnlineCS;
			select * 
			INTO #TempCompareOnlineCS
			FROM ( SELECT
			FORMAT(CAST(CAST(R2BKDT AS varchar) AS date), 'dd/MM/yyyy') AS PaidDate_E,  
			CAST(SUBSTRING(RIGHT('000000' + CAST(R2BKTM AS VARCHAR(6)), 6), 1, 2) AS VARCHAR(2)) + ':' +
			CAST(SUBSTRING(RIGHT('000000' + CAST(R2BKTM AS VARCHAR(6)), 6), 3, 2) AS VARCHAR(2)) + ':' +
			CAST(SUBSTRING(RIGHT('000000' + CAST(R2BKTM AS VARCHAR(6)), 6), 5, 2) AS VARCHAR(2)) AS Time_E,
			CAST(R2CUST AS varchar) AS CustomerNo_E,          
			CAST(R2CONT AS varchar) AS ContractNo_E,      
			CASE WHEN R2BKDT IS NULL THEN '' ELSE 'CS' END AS Bank_E,        
			R2RCAM AS Amount_E,    
			CASE 
				WHEN (ISNULL(R4REF2, '') <> CAST(R2CONT AS varchar) AND R2SWIT = 'Y') THEN 'UPG-INC'
				WHEN R4SDTE IS NULL AND R2TYRC IN ('UK','ER') THEN 'INCOMP'
				--WHEN R2BKDT IS NULL THEN 'INCOMP'
				ELSE ''
				--WHEN (R3REF2 <> ISNULL(CAST(R2CONT AS varchar), '')) THEN 'INCOMP'
				--ELSE ''
			END AS Status_E,
			FORMAT(CAST(CAST(R4SDTE AS varchar) AS date), 'dd/MM/yyyy') AS PaidDate_A, 
			CAST(SUBSTRING(RIGHT('000000' + CAST(R4SDTM AS VARCHAR(6)), 6), 1, 2) AS VARCHAR(2)) + ':' +
			CAST(SUBSTRING(RIGHT('000000' + CAST(R4SDTM AS VARCHAR(6)), 6), 3, 2) AS VARCHAR(2)) + ':' +
			CAST(SUBSTRING(RIGHT('000000' + CAST(R4SDTM AS VARCHAR(6)), 6), 5, 2) AS VARCHAR(2)) AS Time_A,      
			R4REF1 AS CustomerNo_A,          
			R4REF2 AS ContractNo_A,         
			'CS' AS Bank_A,        
			R4RCAM AS Amount_A,  
			CASE 
				WHEN (ISNULL(R4REF2, '') = ISNULL(CAST(R2CONT AS varchar), '') AND R2SWIT <> 'Y' AND (R2RCAM <> R4RCAM OR 
					CASE 
						WHEN R2RBUS = 'HP' THEN
							CASE WHEN R2TYRC = 'UK' THEN
								CASE WHEN R2CONT = 0 THEN R2REF2 
								ELSE CAST(R2BRAN AS varchar) + CAST(R2CONT AS varchar) END
							ELSE CAST(R2BRAN AS varchar) + CAST(R2CONT AS varchar) END
						ELSE 
							CASE WHEN R2CONT = 0 THEN 
								CASE WHEN ISNULL(R2REF2, '') <> '' THEN R2REF2
								ELSE R2REF1 END
							ELSE CAST(R2RCON AS varchar) END
					END <> R4REF2)) THEN 'ERROR' 
				WHEN R2BKDT IS NULL THEN 'INCOMP'
				ELSE ''
			END AS Status_A,
			ABS(DATEDIFF(SECOND, 
			CONVERT(TIME, STUFF(STUFF(RIGHT('000000' + CONVERT(nvarchar, MR02.R2BKTM), 6), 3, 0, ':'), 6, 0, ':')), 
			CONVERT(TIME, STUFF(STUFF(RIGHT('000000' + CONVERT(nvarchar, MR04.R4SDTM), 6), 3, 0, ':'), 6, 0, ':'))
			)) AS time_diff
			from (
				SELECT R4SDTE,R4SDTM,R4REF1,R4REF2,R4TRTY,R4TAXI,R4SRNO,R4CSRN,R4TMNO,R4RCAM,R4TXID 
				FROM AS400DB01.CSOD0001.CSMR04 WITH (NOLOCK) 
				WHERE R4SDTE BETWEEN 
				CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateFrom, 120)), 111),'/','') AS NUMERIC(8,0)) AND
				CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateTo, 120)), 111),'/','') AS NUMERIC(8,0))
			) as MR04  
			left join (
				SELECT R2BKDT,R2BKTM,R2CUST,R2CONT,R2RCAM,R2RBUS,R2TYRC,R2REF2,R2BRAN,R2SWIT,R2REF1,R2RCON,R2TAXI,R2TRTY,R2DEL,R2CNTR,R2TMNO,R2SRNO,R2CSRN,R2TXID
				FROM AS400DB01.CSOD0001.CSMR02 WITH (NOLOCK)
				WHERE R2BKDT BETWEEN 
				CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateFrom, 120)), 111),'/','') AS NUMERIC(8,0)) AND
				CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateTo, 120)), 111),'/','') AS NUMERIC(8,0))
				-- Start Feed Back 26/09/2568
				 AND R2DCNO <> ''
				-- End Feed Back 26/09/2568
				-- AND R2TYRC NOT IN ('UK','ER')
			) as MR02   
				on MR02.R2TXID = MR04.R4TXID 
			UNION ALL
			SELECT 
			FORMAT(CAST(CAST(R2BKDT AS varchar) AS date), 'dd/MM/yyyy') AS PaidDate_E,  
			CAST(SUBSTRING(RIGHT('000000' + CAST(R2BKTM AS VARCHAR(6)), 6), 1, 2) AS VARCHAR(2)) + ':' +
			CAST(SUBSTRING(RIGHT('000000' + CAST(R2BKTM AS VARCHAR(6)), 6), 3, 2) AS VARCHAR(2)) + ':' +
			CAST(SUBSTRING(RIGHT('000000' + CAST(R2BKTM AS VARCHAR(6)), 6), 5, 2) AS VARCHAR(2)) AS Time_E,
			CAST(R2CUST AS varchar) AS CustomerNo_E,          
			CAST(R2CONT AS varchar) AS ContractNo_E,      
			CASE WHEN R2BKDT IS NULL THEN '' ELSE 'CS' END AS Bank_E,        
			R2RCAM AS Amount_E,    
			'INCOMP' AS Status_E,
			'' AS PaidDate_A, 
			'' AS Time_A,      
			'' AS CustomerNo_A,          
			'' AS ContractNo_A,         
			'' AS Bank_A,        
			NULL AS Amount_A,  
			CASE 
				WHEN R2BKDT IS NULL THEN 'INCOMP'
				ELSE ''
			END AS Status_A,
			NULL AS time_diff
			FROM AS400DB01.CSOD0001.CSMR02 WITH (NOLOCK)
			LEFT JOIN AS400DB01.CSOD0001.CSMR04 WITH (NOLOCK) 
				ON CSMR02.R2TXID = CSMR04.R4TXID
			WHERE R2BKDT BETWEEN 
				CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR, 543, CONVERT(DATE, @DateFrom, 120)), 111), '/', '') AS NUMERIC(8, 0)) AND
				CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR, 543, CONVERT(DATE, @DateTo, 120)), 111), '/', '') AS NUMERIC(8, 0))
			AND CSMR04.R4TXID IS NULL AND R2DCNO <> '' ) A
			--WHERE ((@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
			--OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
			----OR (@ReportType = 3 AND ( (Status_E IN ('') AND Status_A IN ('INCOMP')) OR (Status_E IN ('INCOMP') AND Status_A IN ('')) OR (Status_E IN ('INCOMP') AND Status_A IN ('INCOMP'))  ) ))
			--OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )
			--ORDER BY CASE WHEN (PaidDate_A <> '' and PaidDate_A IS NOT NULL) and (PaidDate_E <> '' and PaidDate_E IS NOT NULL) THEN 1 
			--			  WHEN (PaidDate_A <> '' and PaidDate_A IS NOT NULL) and (PaidDate_E = '' or PaidDate_E IS NULL) THEN 2	
			--			  ELSE 3 END,PaidDate_A, Time_A, CASE WHEN PaidDate_E = ''  or PaidDate_E IS NULL THEN 2 ELSE 1 END,PaidDate_E, Time_E

			IF (@RequestType = 'S')
				BEGIN
					select @TotalRows = COUNT(*) from #TempCompareOnlineCS WHERE ( (@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )

					IF @TotalRows = 0
						SET @Offset = 0;
					ELSE
					-- หากจำนวนแถวเป็นจำนวนเต็มที่หาร 10 ลงตัว เราอาจต้องการ offset = n - 10 เพื่อให้มีหน้าล่าสุด 10 แถว
						SET @Offset = CASE
									WHEN (@TotalRows % 10) = 0 THEN @TotalRows - 10
									ELSE @TotalRows - (@TotalRows % 10)
					END;
					IF OBJECT_ID('tempdb..#TmpDetailCS2') IS NOT NULL DROP TABLE #TmpDetailCS2
					IF OBJECT_ID('tempdb..#TmpDetailCS3') IS NOT NULL DROP TABLE #TmpDetailCS3

					IF OBJECT_ID('tempdb..#TmpDetailCS') IS NOT NULL DROP TABLE #TmpDetailCS
					select * 
					Into #TmpDetailCS
					from #TempCompareOnlineCS 
					WHERE ((@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					--OR (@ReportType = 3 AND ( (Status_E IN ('') AND Status_A IN ('INCOMP')) OR (Status_E IN ('INCOMP') AND Status_A IN ('')) OR (Status_E IN ('INCOMP') AND Status_A IN ('INCOMP'))  ) ))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )
					ORDER BY CASE WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A <> '' and PaidDate_A IS NOT NULL) THEN 1 
									  WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A = '' or PaidDate_A IS NULL) THEN 2	
									  ELSE 3 END,PaidDate_E, Time_E, CASE WHEN PaidDate_A = ''  or PaidDate_A IS NULL THEN 2 ELSE 1 END,PaidDate_A, Time_A  
					OFFSET @Offset ROWS FETCH NEXT 10 ROWS ONLY;

					select 'GrandTotal' as PaidDate_E,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_E IS NULL OR Status_E = '') AND (PaidDate_E IS NOT NULL AND PaidDate_E <> '') THEN Amount_E ELSE 0 END)) as Time_E,CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_E IS NULL OR Status_E = '') AND (PaidDate_E IS NOT NULL AND PaidDate_E <> '') THEN 1 END)) AS CustomerNo_E,
					CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_E = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_E,'' as Bank_E,
					SUM(CASE WHEN Status_E = 'INCOMP' THEN Amount_E ELSE 0 END) AS Amount_E,'Sum' as Status_E,
					'GrandTotal' as PaidDate_A ,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_A IS NULL OR Status_A = '') AND (PaidDate_A IS NOT NULL AND PaidDate_A <> '') THEN Amount_A ELSE 0 END)) AS Time_A,CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_A IS NULL OR Status_A = '') AND (PaidDate_A IS NOT NULL AND PaidDate_A <> '') THEN 1 END)) AS CustomerNo_A
					,CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_A = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_A,'' as Bank_A,
					SUM(CASE WHEN Status_A = 'INCOMP' THEN Amount_A ELSE 0 END) AS Amount_A,'Sum' as Status_A , @TotalRows as time_diff
					Into #TmpDetailCS2
					from #TempCompareOnlineCS
					WHERE ( (@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )

					IF OBJECT_ID('tempdb..#TempCompareOnlineCS1') IS NOT NULL DROP TABLE #TempCompareOnlineCS1;
					select PaidDate_E,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_E IS NULL OR Status_E = '') THEN Amount_E ELSE 0 END)) as Time_E,
					CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_E IS NULL OR Status_E = '') THEN 1 END)) AS CustomerNo_E,
					CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_E = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_E,'' as Bank_E,
					SUM(CASE WHEN Status_E = 'INCOMP' THEN Amount_E ELSE 0 END) AS Amount_E,'Sum' as Status_E
					into #TempCompareOnlineCS1
					from #TempCompareOnlineCS 
					WHERE ( (@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )AND(PaidDate_E is not null and PaidDate_E != '') Group By PaidDate_E

					select *
					Into #TmpDetailCS3
					from #TempCompareOnlineCS1
					FULL OUTER JOIN (select PaidDate_A,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_A IS NULL OR Status_A = '') THEN Amount_A ELSE 0 END)) AS Time_A,CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_A IS NULL OR Status_A = '')  THEN 1 END)) AS CustomerNo_A
					,CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_A = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_A,'' as Bank_A
					,SUM(CASE WHEN Status_A = 'INCOMP' THEN Amount_A ELSE 0 END) AS Amount_A,'Sum' as Status_A , null as time_diff
					from #TempCompareOnlineCS
					WHERE ((@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					--OR (@ReportType = 3 AND ( (Status_E IN ('') AND Status_A IN ('INCOMP')) OR (Status_E IN ('INCOMP') AND Status_A IN ('')) OR (Status_E IN ('INCOMP') AND Status_A IN ('INCOMP'))  ) ))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) ) AND ( PaidDate_A is not null and PaidDate_A != '') Group By PaidDate_A) c on  PaidDate_E = PaidDate_A

					select * from #TmpDetailCS 
					union all 
					select * from #TmpDetailCS2
					union all 
					select * from #TmpDetailCS3
				END
				ELSE
				BEGIN
					select * 
					from #TempCompareOnlineCS 
					WHERE ((@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					--OR (@ReportType = 3 AND ( (Status_E IN ('') AND Status_A IN ('INCOMP')) OR (Status_E IN ('INCOMP') AND Status_A IN ('')) OR (Status_E IN ('INCOMP') AND Status_A IN ('INCOMP'))  ) ))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )
					ORDER BY CASE WHEN (PaidDate_A <> '' and PaidDate_A IS NOT NULL) and (PaidDate_E <> '' and PaidDate_E IS NOT NULL) THEN 1 
							  WHEN (PaidDate_A <> '' and PaidDate_A IS NOT NULL) and (PaidDate_E = '' or PaidDate_E IS NULL) THEN 2	
							  ELSE 3 END,PaidDate_A, Time_A, CASE WHEN PaidDate_E = ''  or PaidDate_E IS NULL THEN 2 ELSE 1 END,PaidDate_E, Time_E
				OFFSET @Offset ROWS FETCH NEXT 10 ROWS ONLY;
				END
		END
	END
	ELSE
	BEGIN
		IF OBJECT_ID('tempdb..#TmpDetail') IS NOT NULL DROP TABLE #TmpDetail
		IF OBJECT_ID('tempdb..#TmpDetail1') IS NOT NULL DROP TABLE #TmpDetail1
		IF OBJECT_ID('tempdb..#TmpDetail2') IS NOT NULL DROP TABLE #TmpDetail2
		IF OBJECT_ID('tempdb..#TmpDetail3') IS NOT NULL DROP TABLE #TmpDetail3
		IF OBJECT_ID('tempdb..#TmpDetail4') IS NOT NULL DROP TABLE #TmpDetail4
	
		IF OBJECT_ID('tempdb..#TempCompareOnline') IS NOT NULL DROP TABLE #TempCompareOnline;
				CREATE TABLE #TempCompareOnline (
				PaidDate_E NVARCHAR(10),
				Time_E NVARCHAR(50),
				CustomerNo_E NVARCHAR(50),
				ContractNo_E NVARCHAR(50),
				Bank_E NVARCHAR(10),
				Amount_E decimal(18,2),
				Status_E NVARCHAR(10),
				PaidDate_A NVARCHAR(10),
				Time_A NVARCHAR(10),
				CustomerNo_A NVARCHAR(50),
				ContractNo_A NVARCHAR(50),
				Bank_A NVARCHAR(10),
				Amount_A decimal(18,2),
				Status_A NVARCHAR(10),
				time_diff NUMERIC
				);

				INSERT INTO #TempCompareOnline
				EXEC	[AccountingReport].[spGetDailyCompareOnlineAgencyReport]
					@DateFrom = @DateFrom,
					@DateTo = @DateTo,
					@BankCode = @BankCode,
					@ReportType = @ReportType,
					@DataType = @DataType
		IF (@RequestType = 'S')
		BEGIN
			select @TotalRows = COUNT(*) from #TempCompareOnline WHERE ((@ReportType = 1 AND Status_E IN ('', 'UPG-INC', 'INCOMP') AND Status_A IN ('', 'ERROR', 'INCOMP')) 
					OR (@ReportType = 2 AND Status_E IN ('') AND Status_A IN (''))
					OR (@ReportType = 3 AND (Status_E IN ('INCOMP') OR Status_A IN ('INCOMP'))) )
			-- ถ้า @TotalRows เป็น 0 อาจต้องจัดการกรณีพิเศษด้วย
			IF @TotalRows = 0
				SET @Offset = 0;
			ELSE
			-- หากจำนวนแถวเป็นจำนวนเต็มที่หาร 10 ลงตัว เราอาจต้องการ offset = n - 10 เพื่อให้มีหน้าล่าสุด 10 แถว
			SET @Offset = CASE
							WHEN (@TotalRows % 10) = 0 THEN @TotalRows - 10
							ELSE @TotalRows - (@TotalRows % 10)
			END;
		
		
			IF @DataType = 'E'
			BEGIN
				IF OBJECT_ID('tempdb..#TmpDetail') IS NOT NULL DROP TABLE #TmpDetail
				select * 
				Into #TmpDetail
				from #TempCompareOnline 
				ORDER BY CASE WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A <> '' and PaidDate_A IS NOT NULL) THEN 1 
								  WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A = '' or PaidDate_A IS NULL) THEN 2	
								  ELSE 3 END,PaidDate_E, Time_E, CASE WHEN PaidDate_A = ''  or PaidDate_A IS NULL THEN 2 ELSE 1 END,PaidDate_A, Time_A  
				OFFSET @Offset ROWS FETCH NEXT 10 ROWS ONLY;
			END
			ELSE
			BEGIN
				IF OBJECT_ID('tempdb..#TmpDetail1') IS NOT NULL DROP TABLE #TmpDetail1
				select * 
				Into #TmpDetail1
				from #TempCompareOnline 
				ORDER BY CASE WHEN (PaidDate_A <> '' and PaidDate_A IS NOT NULL) and (PaidDate_E <> '' and PaidDate_E IS NOT NULL) THEN 1 
							  WHEN (PaidDate_A <> '' and PaidDate_A IS NOT NULL) and (PaidDate_E = '' or PaidDate_E IS NULL) THEN 2	
							  ELSE 3 END,PaidDate_A, Time_A, CASE WHEN PaidDate_E = ''  or PaidDate_E IS NULL THEN 2 ELSE 1 END,PaidDate_E, Time_E
				OFFSET @Offset ROWS FETCH NEXT 10 ROWS ONLY;
			END
		
			select 'GrandTotal' as PaidDate_E,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_E IS NULL OR Status_E = '') AND (PaidDate_E IS NOT NULL AND PaidDate_E <> '') THEN Amount_E ELSE 0 END)) as Time_E,CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_E IS NULL OR Status_E = '') AND (PaidDate_E IS NOT NULL AND PaidDate_E <> '') THEN 1 END)) AS CustomerNo_E,
			CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_E = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_E,'' as Bank_E,
			SUM(CASE WHEN Status_E = 'INCOMP' THEN Amount_E ELSE 0 END) AS Amount_E,'Sum' as Status_E,
			'GrandTotal' as PaidDate_A ,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_A IS NULL OR Status_A = '') AND (PaidDate_A IS NOT NULL AND PaidDate_A <> '') THEN Amount_A ELSE 0 END)) AS Time_A,CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_A IS NULL OR Status_A = '') AND (PaidDate_A IS NOT NULL AND PaidDate_A <> '') THEN 1 END)) AS CustomerNo_A
			,CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_A = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_A,'' as Bank_A,
			SUM(CASE WHEN Status_A = 'INCOMP' THEN Amount_A ELSE 0 END) AS Amount_A,'Sum' as Status_A , @TotalRows as time_diff
			Into #TmpDetail2
			from #TempCompareOnline

			IF OBJECT_ID('tempdb..#TempCompareOnline1') IS NOT NULL DROP TABLE #TempCompareOnline1;
			select PaidDate_E,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_E IS NULL OR Status_E = '') THEN Amount_E ELSE 0 END)) as Time_E,
			CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_E IS NULL OR Status_E = '') THEN 1 END)) AS CustomerNo_E,
			CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_E = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_E,'' as Bank_E,
			SUM(CASE WHEN Status_E = 'INCOMP' THEN Amount_E ELSE 0 END) AS Amount_E,'Sum' as Status_E
			into #TempCompareOnline1
			from #TempCompareOnline 
			where PaidDate_E is not null and PaidDate_E != '' Group By PaidDate_E
			select *
			Into #TmpDetail3
			from #TempCompareOnline1
			FULL OUTER JOIN (select PaidDate_A,CONVERT(VARCHAR(50),SUM(CASE WHEN (Status_A IS NULL OR Status_A = '') THEN Amount_A ELSE 0 END)) AS Time_A,CONVERT(VARCHAR(100), COUNT(CASE WHEN (Status_A IS NULL OR Status_A = '')  THEN 1 END)) AS CustomerNo_A
			,CONVERT(VARCHAR(100), COUNT(CASE WHEN Status_A = 'INCOMP' THEN 1 ELSE NULL END)) AS ContractNo_A,'' as Bank_A
			,SUM(CASE WHEN Status_A = 'INCOMP' THEN Amount_A ELSE 0 END) AS Amount_A,'Sum' as Status_A , null as time_diff
			from #TempCompareOnline 
			where PaidDate_A is not null and PaidDate_A != '' Group By PaidDate_A) c on  PaidDate_E = PaidDate_A
		

			IF @DataType = 'E'
			BEGIN
				select * from #TmpDetail 
				union all 
				select * from #TmpDetail2
				union all 
				select * from #TmpDetail3
			END
			ELSE
			BEGIN
				select * from #TmpDetail1 
				union all 
				select * from #TmpDetail2
				union all 
				select * from #TmpDetail3
			END
		


		END
		ELSE
		BEGIN
			IF @DataType = 'E'
			BEGIN
				select * 
				from #TempCompareOnline 
				ORDER BY CASE WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A <> '' and PaidDate_A IS NOT NULL) THEN 1 
								  WHEN (PaidDate_E <> '' and PaidDate_E IS NOT NULL) and (PaidDate_A = '' or PaidDate_A IS NULL) THEN 2	
								  ELSE 3 END,PaidDate_E, Time_E, CASE WHEN PaidDate_A = ''  or PaidDate_A IS NULL THEN 2 ELSE 1 END,PaidDate_A, Time_A  
				OFFSET @Offset ROWS FETCH NEXT 10 ROWS ONLY;
			END
			ELSE
			BEGIN
				select * 
				from #TempCompareOnline 
				ORDER BY CASE WHEN (PaidDate_A <> '' and PaidDate_A IS NOT NULL) and (PaidDate_E <> '' and PaidDate_E IS NOT NULL) THEN 1 
							  WHEN (PaidDate_A <> '' and PaidDate_A IS NOT NULL) and (PaidDate_E = '' or PaidDate_E IS NULL) THEN 2	
							  ELSE 3 END,PaidDate_A, Time_A, CASE WHEN PaidDate_E = ''  or PaidDate_E IS NULL THEN 2 ELSE 1 END,PaidDate_E, Time_E
				OFFSET @Offset ROWS FETCH NEXT 10 ROWS ONLY;
			END
		END
	END
END
-- EXEC [AccountingReport].[spGetDailyCompareOnlineAgencyReportOffset] '2025/10/01','2025/10/01','CS','1','E','50','S'

