USE [AccountingDB01]
GO
/****** Object:  StoredProcedure [AccountingReport].[spGetDailyCompareWithdrawOffset]    Script Date: 13/01/2569 11:15:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER     PROCEDURE [AccountingReport].[spGetDailyCompareWithdrawOffset]
	@DateFrom AS VARCHAR(10),
	@DateTo AS VARCHAR(10),
	@BankCode AS VARCHAR(10),
	@ReportType AS VARCHAR(1),
	@OS AS VARCHAR(10),
	@SelectType AS VARCHAR(1)
AS

Declare @Offset Integer;
Declare @TotalRows Integer;
set @Offset = CAST(@OS AS INT);

BEGIN   
		
		IF OBJECT_ID('tempdb..#TempDailyCompareWithdraw') IS NOT NULL DROP TABLE #TempDailyCompareWithdraw;
		SELECT * 
		INTO #TempDailyCompareWithdraw
		FROM (
			SELECT 
		FORMAT(CAST(CAST(P40DDT AS varchar) AS date), 'dd/MM/yyyy') AS Date_E,  
		CAST(SUBSTRING(RIGHT('000000' + CAST(P40TIM AS VARCHAR(6)), 6), 1, 2) AS VARCHAR(2)) + ':' +
		CAST(SUBSTRING(RIGHT('000000' + CAST(P40TIM AS VARCHAR(6)), 6), 3, 2) AS VARCHAR(2)) + ':' +
		CAST(SUBSTRING(RIGHT('000000' + CAST(P40TIM AS VARCHAR(6)), 6), 5, 2) AS VARCHAR(2)) AS Time_E,
		TRIM(ISNULL(main.Bank_1,'')) AS Bank_E, 
		CASE
			WHEN main.SEQ_1 = 0 THEN CAST(P40SEQ AS varchar)
			ELSE CAST(main.SEQ_1 AS varchar)
		END AS SEQ_E,
		main.ATM_1 AS ATMID_E,
		main.DOC_1 AS DOC_E,
		CAST(main.CNT_1 AS varchar) AS ContractNo_E,         
		main.Amount_1 AS Amount_E,    
		CASE 
			WHEN main.Date_2 IS NULL THEN 'INCOMP'
			ELSE ''
		END AS Status_E,
		CASE 
			WHEN main.FLG_1 = 'C' and main.FLG_2 = 'X' THEN ''
			ELSE FORMAT(CAST(CAST(main.Date_2 AS varchar) AS date), 'dd/MM/yyyy')
		END AS Date_P,
		CASE 
			WHEN main.FLG_1 = 'C' and main.FLG_2 = 'X' THEN ''
			ELSE CAST(SUBSTRING(RIGHT('000000' + CAST(main.Time_2 AS VARCHAR(6)), 6), 1, 2) AS VARCHAR(2)) + ':' +
				 CAST(SUBSTRING(RIGHT('000000' + CAST(main.Time_2 AS VARCHAR(6)), 6), 3, 2) AS VARCHAR(2)) + ':' +
				 CAST(SUBSTRING(RIGHT('000000' + CAST(main.Time_2 AS VARCHAR(6)), 6), 5, 2) AS VARCHAR(2))
		END AS Time_P,
		CASE 
			WHEN main.FLG_1 = 'C' and main.FLG_2 = 'X' THEN ''
			ELSE TRIM(ISNULL(main.Bank_2,''))
		END AS Bank_P,
		CASE 
			WHEN main.FLG_1 = 'C' and main.FLG_2 = 'X' THEN ''
			ELSE CAST(main.SEQ_2 AS varchar)
		END AS SEQ_P,
		CASE 
			WHEN main.FLG_1 = 'C' and main.FLG_2 = 'X' THEN ''
			ELSE main.ATM_2
		END AS ATMID_P,
		CASE 
			WHEN main.FLG_1 = 'C' and main.FLG_2 = 'X' THEN ''
			ELSE CAST(main.CNT_2 AS varchar)
		END AS ContractNo_P,
		CASE 
			WHEN main.FLG_1 = 'C' and main.FLG_2 = 'X' THEN null
			ELSE main.Amount_2
		END AS Amount_P,
		CASE 
			when main.FLG_1 = 'X' and main.FLG_2  = 'C' then 'INCOMP'
			WHEN main.Date_1 IS NULL THEN 'INCOMP'
			ELSE ''
		END AS Status_P,
		CAST(CAST(P40DDT AS varchar) AS date) AS Date_E_Show,
		CASE 
			WHEN main.FLG_1 = 'C' and main.FLG_2 = 'X' THEN ''
			ELSE CAST(CAST(main.Date_2 AS varchar) AS date)
		END AS Date_P_Show
		FROM  (
		SELECT       
		P45PDT as Date_1,
		P45TIM as Time_1,
		P45OWN as Bank_1,
		P45ATM as ATM_1,
		P45CNT as CNT_1,
		P45FLG as FLG_1,
		P45AMT as Amount_1,
		FTRNDT as Date_2,
		FTRNTM as Time_2,
		FTRMBK as Bank_2,
		FTRMID as ATM_2,
		FACCNO as CNT_2,
		FMSGTY as FLG_2,
		FAMT01 as Amount_2,
		P45DOC as Doc_1,
		FATMSQ as SEQ_2,
		P45SEQ as SEQ_1
		FROM AS400DB01.RLOD0001.RLMS45 with (nolock)
		left join AS400DB01.GNOD0000.GNMRPCC with (nolock)
		on RLMS45.P45CRD = GNMRPCC.FCRDNO and RLMS45.P45CNT = GNMRPCC.FACCNO  and RLMS45.P45SEQ = GNMRPCC.FATMSQ and RLMS45.P45ATM = GNMRPCC.FTRMID
		and RLMS45.P45PDT = GNMRPCC.FTRNDT and RLMS45.P45OWN = GNMRPCC.FTRMBK and RLMS45.P45AMT = GNMRPCC.FAMT01
		--and ( FMSGTY = 'C' OR FMSGTY IS NULL)
		where 
			CASE 
				WHEN @BankCode IS NULL OR @BankCode = '' THEN 1
				WHEN RLMS45.P45OWN = @BankCode THEN 1
				ELSE 0
			END = 1
		and P45PDT Between 
		CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateFrom, 120)), 111),'/','') AS NUMERIC(8,0)) AND
		CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateTo, 120)), 111),'/','') AS NUMERIC(8,0))
		--and ((P45FLG = 'C' and FMSGTY = 'C') OR (P45FLG = 'C' and FMSGTY IS NULL) OR (P45FLG = 'C' and FMSGTY = 'X')) 
		and P45FLG <> 'X'
		and CHARINDEX('UMAY',P45OWN) = 0 ) main
		left join AS400DB01.RLOD0001.RLMS40 with (nolock) 
		on main.Doc_1 = RLMS40.P40DOC

		UNION ALL

		SELECT * FROM (
		SELECT      
		'' AS Date_E,  
		'' AS Time_E,
		'' AS Bank_E, 
		'' AS SEQ_E,
		'' AS ATMID_E,  
		'' AS DOC_E,
		'' AS ContractNo_E,         
		null AS Amount_E,    
		'' AS Status_E,
		FORMAT(CAST(CAST(FTRNDT AS varchar) AS date), 'dd/MM/yyyy') AS Date_P,   
		CAST(SUBSTRING(RIGHT('000000' + CAST(FTRNTM AS VARCHAR(6)), 6), 1, 2) AS VARCHAR(2)) + ':' +
		CAST(SUBSTRING(RIGHT('000000' + CAST(FTRNTM AS VARCHAR(6)), 6), 3, 2) AS VARCHAR(2)) + ':' +
		CAST(SUBSTRING(RIGHT('000000' + CAST(FTRNTM AS VARCHAR(6)), 6), 5, 2) AS VARCHAR(2)) AS Time_P,     
		TRIM(ISNULL(FTRMBK,'')) AS Bank_P, 
		CAST(FATMSQ AS varchar) AS SEQ_P,
		FTRMID AS ATMID_P,           
		CAST(FACCNO AS varchar) AS ContractNo_P,         
		FAMT01 AS Amount_P,    
		CASE 
			WHEN P45PDT IS NULL THEN 'INCOMP'
			ELSE ''
		END AS Status_P,
		'' AS Date_E_Show,
		CAST(CAST(FTRNDT AS varchar) AS date)  AS Date_P_Show
		FROM AS400DB01.GNOD0000.GNMRPCC with (nolock)
		left join AS400DB01.RLOD0001.RLMS45  with (nolock)
		on RLMS45.P45CRD = GNMRPCC.FCRDNO and RLMS45.P45CNT = GNMRPCC.FACCNO  and RLMS45.P45SEQ = GNMRPCC.FATMSQ and RLMS45.P45ATM = GNMRPCC.FTRMID
		and RLMS45.P45PDT = GNMRPCC.FTRNDT and RLMS45.P45OWN = GNMRPCC.FTRMBK and RLMS45.P45AMT = GNMRPCC.FAMT01
		left join AS400DB01.RLOD0001.RLMS47  with (nolock)
		on RLMS47.P47CRD = GNMRPCC.FCRDNO and RLMS47.P47CNT = GNMRPCC.FACCNO  and RLMS47.P47TRC = GNMRPCC.FATMSQ and RLMS47.P47ATM = GNMRPCC.FTRMID
		and RLMS47.P47RDT = GNMRPCC.FTRNDT and RLMS47.P47TOW = GNMRPCC.FTRMBK and RLMS47.P47AMT = GNMRPCC.FAMT01
		where 
			CASE 
				WHEN @BankCode IS NULL OR @BankCode = '' THEN 1
				WHEN GNMRPCC.FTRMBK = @BankCode THEN 1
				ELSE 0
			END = 1
		and GNMRPCC.FTRNDT Between 
		CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateFrom, 120)), 111),'/','') AS NUMERIC(8,0)) AND
		CAST(REPLACE(CONVERT(VARCHAR(10), DATEADD(YEAR,543,CONVERT(DATE, @DateTo, 120)), 111),'/','') AS NUMERIC(8,0)) 
		AND RLMS45.P45PDT IS NULL AND RLMS47.P47RDT IS NULL
		) sub
		) RESULT
		WHERE  ( (@ReportType = 1 AND RESULT.Status_E IN ('', 'INCOMP') AND RESULT.Status_P IN ('','INCOMP')) 
		OR	(@ReportType = 2 AND RESULT.Status_E IN ('') AND RESULT.Status_P IN (''))
		OR  (@ReportType = 3 AND ( (RESULT.Status_E IN ('INCOMP') OR RESULT.Status_P IN ('INCOMP')) ) ) )
	
		select @TotalRows = COUNT(*) from #TempDailyCompareWithdraw
		
		IF @SelectType = 'S'
		BEGIN
			IF @TotalRows = 0
				SET @Offset = 0;
			ELSE
			-- หากจำนวนแถวเป็นจำนวนเต็มที่หาร 10 ลงตัว เราอาจต้องการ offset = n - 10 เพื่อให้มีหน้าล่าสุด 10 แถว
				SET @Offset = CASE
							WHEN (@TotalRows % 10) = 0 THEN @TotalRows - 10
							ELSE @TotalRows - (@TotalRows % 10)
			END;
		END
		
		IF OBJECT_ID('tempdb..#TempDailyCompareWithdrawShow') IS NOT NULL DROP TABLE #TempDailyCompareWithdrawShow;
		SELECT 
		Date_E, Time_E, Bank_E, SEQ_E, ATMID_E, DOC_E, ContractNo_E, Amount_E, Status_E,
		Date_P, Time_P, Bank_P, SEQ_P, ATMID_P, ContractNo_P, Amount_P, Status_P
		INTO #TempDailyCompareWithdrawShow
		FROM #TempDailyCompareWithdraw
		ORDER BY CASE WHEN (Date_E <> '' and Date_E IS NOT NULL) and (Date_P <> '' and Date_P IS NOT NULL) THEN 1 
							  WHEN (Date_E <> '' and Date_E IS NOT NULL) and (Date_P = '' or Date_P IS NULL) THEN 2	
							  ELSE 3 END, CASE WHEN Date_P = ''  or Date_P IS NULL THEN 2 ELSE 1 END,
							  Date_E_Show, Time_E, Date_P_Show, Time_P  
		OFFSET @Offset ROWS FETCH NEXT 10 ROWS ONLY;

		IF OBJECT_ID('tempdb..#TempDailyCompareWithdrawShow2') IS NOT NULL DROP TABLE #TempDailyCompareWithdrawShow2;
		SELECT      
		'' AS Date_E,  
		'' AS Time_E,
		'' AS Bank_E, 
		CONVERT(varchar, COUNT(SEQ_E)) AS SEQ_E,
		'' AS ATMID_E,  
		'GrandTotal' AS DOC_E,
		CONVERT(varchar, @TotalRows) AS ContractNo_E,         
		SUM(CASE WHEN Amount_E is not null THEN Amount_E ELSE 0 END) AS Amount_E,    
		Status_E,
		'' Date_P,   
		'' AS Time_P,     
		'' Bank_P, 
		CONVERT(varchar, COUNT(SEQ_P)) AS SEQ_P,
		'' AS ATMID_P,           
		CONVERT(varchar, @TotalRows) AS ContractNo_P,         
		SUM(CASE WHEN Amount_P is not null THEN Amount_P ELSE 0 END) AS Amount_P,    
		Status_P
		INTO #TempDailyCompareWithdrawShow2
		FROM #TempDailyCompareWithdraw
		GROUP BY Status_E, Status_P

		Declare @CompRows Integer;
		select @CompRows = COUNT(*) FROM #TempDailyCompareWithdraw WHERE Date_E IS NOT NULL AND Date_P IS NOT NULL  AND Status_E = '' AND Status_P = ''

		UPDATE #TempDailyCompareWithdrawShow2 
		SET SEQ_E = CONVERT(varchar, @CompRows)  , SEQ_P = CONVERT(varchar, @CompRows)
		WHERE Amount_E <> '0.00' AND Amount_P <> '0.00'

		--IF OBJECT_ID('tempdb..#TempDailyCompareWithdrawBankTotal') IS NOT NULL DROP TABLE #TempDailyCompareWithdrawBankTotal;
		--SELECT      
		--'' AS Date_E,  
		--'' AS Time_E,
		--Bank_E, 
		--CONVERT(varchar, COUNT(SEQ_E)) AS SEQ_E,
		--'' AS ATMID_E,  
		--'BankTotal' AS DOC_E,
		--CONVERT(varchar, @TotalRows) AS ContractNo_E,         
		--SUM(CASE WHEN Amount_E is not null THEN Amount_E ELSE 0 END) AS Amount_E,    
		--Status_E,
		--'' Date_P,   
		--'' AS Time_P,     
		--Bank_P, 
		--CONVERT(varchar, COUNT(SEQ_P)) AS SEQ_P,
		--'' AS ATMID_P,           
		--CONVERT(varchar, @TotalRows) AS ContractNo_P,         
		--SUM(CASE WHEN Amount_P is not null THEN Amount_P ELSE 0 END) AS Amount_P,    
		--Status_P
		--INTO #TempDailyCompareWithdrawBankTotal
		--FROM #TempDailyCompareWithdraw
		--GROUP BY Bank_E, Bank_P, Status_E, Status_P 

		--IF OBJECT_ID('tempdb..#TempDailyCompareWithdrawDateTotal') IS NOT NULL DROP TABLE #TempDailyCompareWithdrawDateTotal;
		--SELECT      
		--Date_E,  
		--'' AS Time_E,
		--'' Bank_E, 
		--CONVERT(varchar, COUNT(SEQ_E)) AS SEQ_E,
		--'' AS ATMID_E,  
		--'DateTotal' AS DOC_E,
		--CONVERT(varchar, @TotalRows) AS ContractNo_E,         
		--SUM(CASE WHEN Amount_E is not null THEN Amount_E ELSE 0 END) AS Amount_E,    
		--Status_E,
		--Date_P,   
		--'' AS Time_P,     
		--'' AS Bank_P, 
		--CONVERT(varchar, COUNT(SEQ_P)) AS SEQ_P,
		--'' AS ATMID_P,           
		--CONVERT(varchar, @TotalRows) AS ContractNo_P,         
		--SUM(CASE WHEN Amount_P is not null THEN Amount_P ELSE 0 END) AS Amount_P,    
		--Status_P
		--INTO #TempDailyCompareWithdrawDateTotal
		--FROM #TempDailyCompareWithdraw		
		--GROUP BY Date_E, Date_P, Status_E, Status_P 

		IF OBJECT_ID('tempdb..#TempDailyCompareWithdrawBankDateTotal') IS NOT NULL DROP TABLE #TempDailyCompareWithdrawBankDateTotal;
		SELECT      
		Date_E,  
		'' AS Time_E,
		Bank_E, 
		CONVERT(varchar, COUNT(SEQ_E)) AS SEQ_E,
		'' AS ATMID_E,  
		'BankDateTotal' AS DOC_E,
		CONVERT(varchar, @TotalRows) AS ContractNo_E,         
		SUM(CASE WHEN Amount_E is not null THEN Amount_E ELSE 0 END) AS Amount_E,    
		Status_E,
		Date_P,   
		'' AS Time_P,     
		Bank_P, 
		CONVERT(varchar, COUNT(SEQ_P)) AS SEQ_P,
		'' AS ATMID_P,           
		CONVERT(varchar, @TotalRows) AS ContractNo_P,         
		SUM(CASE WHEN Amount_P is not null THEN Amount_P ELSE 0 END) AS Amount_P,    
		Status_P
		INTO #TempDailyCompareWithdrawBankDateTotal
		FROM #TempDailyCompareWithdraw		
		GROUP BY Bank_E, Bank_P, Date_E, Date_P, Status_E, Status_P 

		SELECT * FROM (
			select * from #TempDailyCompareWithdrawShow 
			union all 
			select * from #TempDailyCompareWithdrawShow2
			--union all 
			--select * from #TempDailyCompareWithdrawBankTotal
			--union all 
			--select * from #TempDailyCompareWithdrawDateTotal
			union all 
			select * from #TempDailyCompareWithdrawBankDateTotal
		) Data01
		ORDER BY CASE WHEN (Date_E <> '' and Date_E IS NOT NULL) and (Date_P <> '' and Date_P IS NOT NULL) THEN 1 
		WHEN (Date_E <> '' and Date_E IS NOT NULL) and (Date_P = '' or Date_P IS NULL) THEN 2	
		ELSE 3 END,Date_E, Time_E, CASE WHEN Date_P = ''  or Date_P IS NULL THEN 2 ELSE 1 END,Date_P, Time_P 
END

-- EXEC [AccountingDB01].[AccountingReport].[spGetDailyCompareWithdrawOffset] @DateFrom = '2024-06-16', @DateTo = '2024-06-21', @BankCode = '', @ReportType = '1' ,@OS = '10' ,@SelectType = 'S'
-- EXEC [AccountingDB01].[AccountingReport].[spGetDailyCompareWithdrawOffset] @DateFrom = '2025-04-01', @DateTo = '2025-07-21', @BankCode = '', @ReportType = '1' ,@OS = '10' ,@SelectType = 'S'
-- EXEC [AccountingDB01].[AccountingReport].[spGetDailyCompareWithdrawOffset] @DateFrom = '2025-03-02', @DateTo = '2025-03-02', @BankCode = '', @ReportType = '1' ,@OS = '10' ,@SelectType = 'S'